@charset "UTF-8";
:root {
  --cor1: #d9cfc3;
  --cor2: #d1aaa2;
  --cor3: #fbd189;
  --cor4: #b0c2cc;
  --cor5: #efd3d2;
  --cor6: #5c4033;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100%;

  background-color: #efd3d2;
}
header {
  width: 100%;
  height: 70px;

  background-color: #d1aaa2;

  box-shadow: 0px 5px 10px rgb(182, 168, 168);

  padding: 10px;

  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: space-between;
}
.menu {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
}
.menu li a {
  color: #5c4033;

  display: block;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
}
.menu li a:hover {
  color: #ffff;

  display: block;
  text-decoration: none;
  background-color: #b0c2cc;
  margin-left: 10px;
}
.logo {
  width: 45px;
  height: 45px;

  border-radius: 10px;

  background-color: #cccccc;
}

h1 {
  color: #5c4033;
  text-align: center;

  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 10px;

  display: flex;

  flex-wrap: wrap;
}

.container div{
    flex: 1 1 300px;

    margin: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.constainer{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #d1aaa2;
}
