@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,700&display=swap');

:root {
  --cor1: #d9cfc3;
  --cor2: #d1aaa2;
  --cor3: #fbd189;
  --cor4: #b0c2cc;
  --cor5: #efd3d2;
  --cor6: #5c4033;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--cor5);
}

.cabecalho {
  width: 100%;
  height: 70px;

  background-color: var(--cor2);

  box-shadow: 0px 5px 10px rgb(182, 168, 168);

  padding: 10px;

  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: space-between;
}

.cabecalho-titulo {
  color: var(--cor6);
}

.menu {
  color: var(--cor6);

  display: block;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
}

.menu:hover {
  color: #ffff;

  display: block;
  text-decoration: none;
  background-color: var(--cor4);
  margin-left: 10px;
}

.logo {
  width: 45px;
  height: 45px;

  border-radius: 10px;

  background-color: #cccccc;
}

.titulo-index {
  color: var(--cor6);
  text-align: center;

  margin-top: 20px;
}

.caixa-titulo {
  color: var(--cor6);
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: -70;
}

.caixa-texto {
  color: var(--cor6);
  font-weight: 500;
  margin-top: -100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 10px;

  display: flex;

  flex-wrap: wrap;
}

.container div {
  flex: 1 1 300px;

  margin: 10px;
}

.caixa {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;


  margin: 25px 15px 25px 15px;
  border-radius: 30px;


  border-color: var(--cor2);
  border-style: solid;
  border-width: 5px;
  padding: 20px 15px 30px 45px;

}

.caixa-img {
  grid-row: 1/3;
  width: 60%;
  height: 70%;
  object-fit: cover;
}

img {
  margin: 15px;
  width: 10%;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid var(--cor2);
}

.container-itens {
  max-width: 1200px;
  margin: 10% auto 5%;
  border: 0px solid #b0c2cc;

  display: grid;
  grid-gap: 20px;

  grid-template-areas:
   "sidenav item item"
   "sidenav item item"
   "sidenav item item"
   "footer footer footer";
}

.container div{
    flex: 1 1 300px;

    margin: 10px;
}

img {
  width: 100%;
  border-radius: 20px;
}

.sidenav{
  max-width: 300px;
  min-width: 200;
  height: 1000px;

  background-color: #5c4033;
  border-radius: 20px;

  grid-area: "sidenav";
  grid-row: sidenav;
}
.item{
  max-width: 300px;
  min-width: 200;
  height: 300px;

  background-color: #5c4033;
  border-radius: 20px;

  grid-area: "item";
}

.footer{
  width: auto;
  height: 300px;

  background-color: #5c4033;
  border-radius: 20px;

  grid-area: "footer";
  grid-column: footer;
}